In [1]:
# sum of two numbers
num1=10
num2=20

sum=num1+num2
print("The sum of two numbers is:",sum)

The sum of two numbers is: 30

In [13]:
#sum of two numbers with user input

num1=int(input("Enter the value of first variable"))
num2=int(input("Enter the value of second variable"))

sum = num1+num2
print("The sum is:",sum)
print(type(num1))

Enter the value of first variable 10
Enter the value of second variable 20

The sum is: 30
<class 'int'>

In [ ]:
#explicit typecasting

In [15]:
#string indexing
city="Bangalore"
print(city[4])

a

In [21]:
#string slicing - String slicing in Python allows extraction of substrings from a given string using a specific 
#syntax: string[start:end:step].
city="Bangalore"
print(city[0:4])

Bang

In [24]:
#string -ve indexing
city="Bangalore"
print(city[-3])

o

In [3]:
name="Bengaluru"
print(name[:5])
print(name[2:])

print(name[-5:-2]) # slicing from end of the string

Benga
ngaluru
alu

In [7]:
#upper(),lower(),strip(),replace(),split()

place="Vidyashilp University"
#print(place.upper())
#print(place.lower())

#replace(old_char,new_char)
print(place.replace("y","a"))

Vidaashilp Universita

In [8]:
# extract name from email using slicing - DONE
# reverse a string with slicing

str1="Hello"
print(str1[::-1])

olleH

In [9]:
#length of a string len()
str1="Hello"
print(len(str1))

5

In [12]:
#search in text
txt="There is free booking going on"
print("free" in txt)
print ("free" not in txt)

True
False

In [7]:
# other string methods
str1="India,Bharath"
print(str1.split(","))

['India', 'Bharath']

In [4]:
str1=input("enter your email id")
str2=str1.split("@")
print("the entered email id is:",str2)
print("the user name is:",str2[0])

enter your email id jyothsna@gamil.com

the entered email id is: ['jyothsna', 'gamil.com']
the user name is: jyothsna

In [6]:
str2="never settle"
#print(str2.capitalize())
#swapcase()

#center(50)

str3="Keep life simple"
#print(str3.count("e"))

str4="Welcome to Vidyashilp University !!!"
print(str4.endswith("!!!"))

#startswith()

True

In [12]:
str5="Team work makes the dream work"
#print(str5.find("work"))
#print(str5.find("works"))

print(str5.index("works"))

ValueError: substring not found

In [10]:
#format strings

str7 = "James Bond"
str8 = "007"
str9 = str7 + " " + str8
print(str9)

James Bond 007

In [14]:
'''name = "Shubhman Gill"
age = 25
print("My name is" + name + "and my age is" + age) 
'''

name = "Shubhman Gill"
age = 25
statement = "My name is {} and my age is {}."
print(statement.format(name, age)) 

#strings are immutable

My name is Shubhman Gill and my age is 25.

In [38]:
place="Bengaluru"
country="India"
print(f"I am from {place} a garden city from {country}")

I am from Bengaluru a garden city from India

In [3]:
#slicing with step positon
#str_object[start_pos:end_pos:step]


s = 'HelloWorld'
#print(s[:])
#print(s[::]) 

'''
s = 'HelloWorld'
first_five_chars = s[:5]
print(first_five_chars)
'''
third_to_fifth_chars = s[2:5]
print(third_to_fifth_chars)

llo

In [6]:
s = 'HelloWorld'

s1 = s[2:8:2]
#print(s1)

s1 = s[8:1:-1] # starts from end to start as step position is -1
#print(s1)

s1 = s[8:1:-2]
print(s1)

lool

In [1]:
#lists
# a list of three elements
ages = [19, 26, 29]
print(ages)

[19, 26, 29]

In [2]:
# a list containing strings, numbers and another list
student = ['Jack', 32, 'Computer Science', [2, 4]]
print(student)

# an empty list
empty_list = []
print(empty_list)

['Jack', 32, 'Computer Science', [2, 4]]
[]

In [ ]:
#conditional statments

In [ ]:
#simple calculator